{{ template "Header" }}
{{ template "LeftNav" }}
<div class="col-sm-8">
    <form class="form-inline" method="POST" action="insert">
        <input type="hidden" name="uid" value="{{ .Id }}" />
        <div class="row">
            <label for="nameControl" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nameControl" placeholder="Name" name="name" value="{{ .Name }}">
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <label for="cityControl" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cityControl" placeholder="City" name="city" value="{{ .City }}">
            </div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="input-group-btn sm-12">
                <button type="submit" value="Save" class="btn btn-primary" style="margin-left: 115px;">Save</button>
                <button type="button" value="Cancel" onclick="history.back()" style="margin-left: 15px;" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    </form> 
</div>
{{ template "RightNav"}}
{{ template "Footer"}}