{{ template "Header" }}
{{ template "LeftNav" }}
<div class="col-sm-8">
  <div class="table-responsive">
    <table class="table m-0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>City</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        {{ range . }}
        <tr>
          <th scope="row">{{ .Id }}</th>
          <td>{{ .Name }}</td>
          <td>{{ .City }}</td>
          <td><a href="/show?id={{ .Id }}" class="btn btn-primary btn-sm" role="button">View</a></td>
          <td><a href="/edit?id={{ .Id }}" class="btn btn-primary btn-sm" role="button">Edit</a></td>
          <td><a href="/delete?id={{ .Id }}" class="btn btn-danger btn-sm" role="button">Delete</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ template "RightNav"}}
{{ template "Footer"}}
      